@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Roboto Mono", monospace;
  }
}

.bgg {
  background: url("./assets//image/bgg.png");
}

@media only screen and (max-width: 1024px) {
  .bgg {
    background: url("./assets//image/bgg2.png");
  }
}
